@page "/Oferta"
<PageTitle>Оферта</PageTitle>

<section>
    <h1>Публичная оферта</h1>
    
    <p>Настоящая оферта, представленная Индивидуальным предпринимателем Метельской Екатериной Александровной, является официальным предложением заключить договор купли-продажи на условиях, изложенных ниже.</p>

    <h2>1. Предмет договора</h2>
    <p>Продавец (ИП Метельская Е.А.) обязуется передать товар Покупателю на условиях, указанных на сайте, а Покупатель обязуется принять и оплатить товар.</p>

    <h2>2. Порядок заключения договора</h2>
    <p>Договор считается заключенным с момента подтверждения Покупателем заказа через форму на сайте или иным способом. Оформление заказа является полным и безоговорочным принятием условий настоящей оферты.</p>

    <h2>3. Цена и оплата</h2>
    <p>Цена товара указана на сайте и может быть изменена Продавцом без предварительного уведомления.</p>

    <h2>4. Права и обязанности сторон</h2>
    <p>Продавец обязуется доставить товар в установленный срок, а Покупатель — принять и оплатить товар в соответствии с условиями.</p>

    <h2>5. Ответственность сторон</h2>
    <p>В случае нарушения условий оферты, стороны несут ответственность в соответствии с действующим законодательством РФ.</p>
    
    <h2>6. Реквизиты Продавца</h2>
        <p><strong>Полное наименование:</strong> ИП Метельская Екатерина Александровна</p>
        <p><strong>Юридический адрес:</strong> Г. Смоленск, ул. Багратиона, д.17</p>
        <p><strong>ИНН:</strong> 673208838077</p>
        <p><strong>ОГРНИП:</strong> 325670000030863</p>


            <p><strong>Банковские реквизиты:</strong></p>
            <p><strong>Расчетный счет:</strong> 40802810959710001923</p>
            <p><strong>Банк:</strong> СМОЛЕНСКОЕ ОТДЕЛЕНИЕ №8609 ПАО СБЕРБАНК</p>
            <p><strong>БИК:</strong> 046614632</p>
            <p><strong>Корр. счет:</strong> 30101810000000000632</p>

    <h3>Заключение договора</h3>
    <p>Вы соглашаетесь с условиями этой оферты при оформлении заказа. Подтверждение заказа является актом акцепта оферты.</p>
</section>


@code {

}
