@page "/Policy"

<PageTitle>Политика</PageTitle>


<section>
    <h1>Политика конфиденциальности</h1>
           <p>ИП Метельская Екатерина Александровна заботится о конфиденциальности ваших данных и обязуется использовать их только в целях улучшения обслуживания. Мы строго соблюдаем требования законодательства о защите персональных данных.</p>


        <h2>1. Какие данные мы собираем</h2>
        <p>При регистрации, оформлении заказа или подписке на рассылку мы собираем следующую информацию:</p>
        <ul>
            <li>Имя и фамилия</li>
            <li>Адрес электронной почты</li>
            <li>Адрес доставки</li>
            <li>Номер телефона</li>
        </ul>

        <h2>2. Как мы используем вашу информацию</h2>
        <p>Мы используем собранные данные для:</p>
        <ul>
            <li>Обработки и доставки заказов</li>
            <li>Улучшения качества обслуживания</li>
            <li>Отправки информационных рассылок и предложений (только с вашего согласия)</li>
        </ul>

        <h2>3. Как мы защищаем данные</h2>
        <p>Мы применяем современные меры безопасности для защиты ваших данных от несанкционированного доступа и утечек. Все данные передаются по защищенному соединению, а конфиденциальная информация хранится в зашифрованном виде.</p>

        <h2>4. Передача данных третьим лицам</h2>
        <p>Ваши данные могут быть переданы третьим лицам только в рамках выполнения обязательств перед вами (например, курьерским службам для доставки заказов). Мы не продаем и не передаем ваши личные данные для коммерческих целей.</p>


            <p>Мы требуем от всех третьих сторон соблюдения конфиденциальности и безопасности ваших данных, а также использования их исключительно для предоставления услуг нам.</p>


        <h2>5. Ваши права</h2>
        <p>Вы имеете право на:</p>
        <ul>
            <li>Доступ к своим персональным данным</li>
            <li>Исправление неточных данных</li>
            <li>Удаление ваших данных (за исключением случаев, когда мы обязаны хранить их по закону)</li>
            <li>Отзыв согласия на обработку данных</li>
            <li>Ограничение обработки ваших данных</li>
        </ul>


            <h3>Контакты для связи</h3>
            <p>Если у вас есть вопросы о нашей политике конфиденциальности или вы хотите реализовать свои права, пожалуйста, свяжитесь с нами:</p>
            <p>Email: YourRoofTeam@yandex.ru</p>
            <p>Телефон: +7 965 763 51 62</p>





    </section>

@code {

}
