@page "/Catalog"

<PageTitle>Catalog</PageTitle>

<div class="banner">
    <h1>Каталог товаров</h1>
    <p>Найдите идеальные решения для вашего сада и двора</p>
</div>

<section class="product-section">
    <div class="product-grid">
        <ul class="products-cards">
            <li class="card">
                <img src="/images/product1.jpg" alt="Товар 1" />
                <div class="card-body">
                    <span class="title">Товар 1</span>
                    <span class="price">1000 ₽</span>
                </div>
            </li>
            <li class="card">
                <img src="/images/product2.jpg" alt="Товар 2" />
                <div class="card-body">
                    <span class="title">Товар 2</span>
                    <span class="price">2500 ₽</span>
                </div>
            </li>
            <li class="card">
                <img src="/images/product3.jpg" alt="Товар 3" />
                <div class="card-body">
                    <span class="title">Товар 3</span>
                    <span class="price">1500 ₽</span>
                </div>
            </li>
        </ul>
    </div>
</section>
