.card[b-wiu78o4wvp] {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: #f8f9fa;
}

.card-img-top[b-wiu78o4wvp] {
    object-fit: cover;
    height: 200px;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top[b-wiu78o4wvp] {
    transform: scale(1.05);
}

.card-body[b-wiu78o4wvp] {
    padding: 20px;
}

.card-title[b-wiu78o4wvp] {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
}

.card-text[b-wiu78o4wvp] {
    color: #555;
}

.btn[b-wiu78o4wvp] {
    transition: all 0.3s ease;
}

    .btn:hover[b-wiu78o4wvp] {
        transform: scale(1.05);
    }

.btn-outline-danger[b-wiu78o4wvp] {
    color: #dc3545;
    border-color: #dc3545;
}

    .btn-outline-danger:hover[b-wiu78o4wvp] {
        background-color: #dc3545;
        color: #fff;
    }

.btn-outline-success[b-wiu78o4wvp] {
    color: #28a745;
    border-color: #28a745;
}

    .btn-outline-success:hover[b-wiu78o4wvp] {
        background-color: #28a745;
        color: #fff;
    }

.btn-outline-primary[b-wiu78o4wvp] {
    color: #fff;
    background-color: #000; /* Черный фон */
    border-color: #000;
}

    .btn-outline-primary:hover[b-wiu78o4wvp] {
        background-color: #333; /* Темно-серый при наведении */
        border-color: #333;
        color: #fff;
    }

    .btn-outline-primary:focus[b-wiu78o4wvp], .btn-outline-primary:active[b-wiu78o4wvp] {
        background-color: #000; /* Черный фон при фокусе */
        border-color: #000;
        color: #fff;
    }

.container[b-wiu78o4wvp] {
    max-width: 1200px;
}

.mt-4[b-wiu78o4wvp] {
    margin-top: 2rem;
}

.text-center[b-wiu78o4wvp] {
    text-align: center;
}

.mb-4[b-wiu78o4wvp] {
    text-align: center;
}

.shadow-sm[b-wiu78o4wvp] {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hover-zoom:hover[b-wiu78o4wvp] {
    transform: scale(1.05);
}
